@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  box-sizing: border-box;
}

#root {
  --family: 'Nunito Sans', sans-serif;
  --fs-small: 14px;
  --fs-medium: 18px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  
  --br-radius: 0.5rem;
}

body[data-theme="dark"] {
  --color-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-element: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

body[data-theme="light"] {
  --color-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-element: hsl(0, 0%, 100%);
  --colors-input: hsl(0, 0%, 52%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  font-family: var(--family);
  color: var(--color-text);
  background-color: var(--colors-bg);
  font-weight: var(--fw-light);
  margin: 0;
}
